{% extends 'base.html' %}

{% block title %} User Registration {% endblock %}

{% block main %}

    <div class="col-lg-6 mx-auto">
            <div class="card">
        <div class="card-body">
            <form class="row gap-4" action="" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>

    </div>

{% endblock %}